# Python
backend/venv/
backend/__pycache__/
*.py[cod]
*$py.class
backend/instance/
instance/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
